<div class="toolbar">
    <button type="button" class="btn subtle" (mousedown)="$event.preventDefault()" (click)="exec('bold')">
        <strong>B</strong>
    </button>
    <button type="button" class="btn subtle" (mousedown)="$event.preventDefault()" (click)="exec('italic')">
        <em>I</em>
    </button>
    <button type="button" class="btn subtle" (mousedown)="$event.preventDefault()" (click)="exec('underline')">
        <u>U</u>
    </button>
</div>
<div #editable class="editable" contenteditable="true" [innerHTML]="block.html" (input)="onInput()"></div>