<div class="toolbar">
    <button type="button" class="btn subtle" (mousedown)="$event.preventDefault()" (click)="exec('bold')">
        <app-icon icon="bold"></app-icon>
    </button>
    <button type="button" class="btn subtle" (mousedown)="$event.preventDefault()" (click)="exec('italic')">
        <app-icon icon="italic"></app-icon>
    </button>
    <button type="button" class="btn subtle" (mousedown)="$event.preventDefault()" (click)="exec('underline')">
        <app-icon icon="underline"></app-icon>
    </button>
</div>
<div #editable class="editable" contenteditable="true" (input)="onInput()"></div>